<div class="container">
  <h2 class="title">Smart Student Timesheet</h2>
  <div class="form-group">
    <input [(ngModel)]="studentId" placeholder="Enter Student ID" class="input-id" />
    <button (click)="getSchedule()" [disabled]="!studentId" class="btn-fetch">Get Schedule</button>
  </div>

  <div *ngIf="schedule" class="card">
    <div class="d-flex">
      <h3>{{ schedule.student.studentName }}'s Schedule</h3>
      <div class="table-colors">
        <p>Current <span class="green-highlight"></span></p>
        <p>Next <span class="blue-highlight"></span></p>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Class</th>
          <th>Day</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of schedule.schedule; let i = index"
            [ngClass]="{'highlight': i === currentClassIndex, 'next': i === nextClassIndex}">
          <td>{{item.class}}</td>
          <td>{{item.day}}</td>
          <td>{{item.start}}</td>
          <td>{{item.end}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>